article.comment-body {
	display: grid;
    width: 530px;
    margin: 0 auto;
    grid-column-gap: 15px;
}

footer.comment-meta {
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto 0;
}

.comment-author.vcard {
	display: grid;
    text-align: center;
}

img.avatar.avatar-30.photo {
	margin: 0 auto 15px;
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

span.says {
	display: none;
}

.comment-metadata {
	text-align: center;
}

.comment-content {
	grid-column-start: 2;
}